<!DOCTYPE html>
<html>
<link href="/css/bootstrap.min.css" rel="stylesheet">

<head>
    <title>About</title>
</head>

<body>
    <div class="container card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">This site is an experiment with building web applications using <a href="https://nodejs.org/en/about/">Node.js</a></p>
            <p class="card-text"> <a href="https://expressjs.com/">Express</a> has been used as the web
                framework. Styling has been provided by <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://jquery.com/">jQuery</a> as JavaScript library</p>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>