<!DOCTYPE html>
<html>
<link href="/css/bootstrap.min.css" rel="stylesheet">

<head>
    <title>
        Test with Bootstrap and jQuery
    </title>
</head>

<body>
    <h1>Test</h1>
    <div class="form-group container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" id="input-outline">
            <button type="button" class="btn btn-outline-primary" id="btn-outline-primary">Primary</button>
            <span id="span-result"></span>
        </div>

    </div>

    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>